<form action="/login" method="post">
    
    <div class="container1">
        <label for="email">Email:</label>
        <input type='email' name="email" placeholder="Email" >
    </div>

    <div class="container1">
        <label for="password">Password:</label>
        <input type='password' name="password" placeholder="password"  >
    </div>

    <button type="submit">Submit</button>
</form>