<ul>
    <li><a href="/dashboard">Home</a></li>
    <li><a href="/dashboard/customers">Customers</a></li>
    <li><a href="/dashboard/invoices">Invoices</a></li>
    <li><a href="/logout">Signout</a></li>
</ul>