<!DOCTYPE html>
<html lang="en">
<%- include('../components/header.ejs') %>

    <body>
        <h1>CRUD Operations</h1>
        <p>Welcome to Web Development</p>
        <%- include('../components/navbar.ejs') %>

        <% if (type === 'data') { %>

        <%- include('../components/customerData.ejs') %>

        <% } else { %>

        <%- include('../components/customerForm.ejs') %>

        <% } %>
        
    </body>

</html>