<!DOCTYPE html>
<html lang="en">
<%- include('../components/header.ejs') %>

    <body>
        <h1>CRUD Operations</h1>
        <p>Welcome to Web Development</p>
        <%- include('../components/updateForm.ejs') %>
    </body>

</html>