<!DOCTYPE html>
<html lang="en">
<%- include('../components/header.ejs') %>

    <body>
        <h1>Welcome to shapp Application</h1>
        <p>If you have user account login </p>
        <a href="/login">Login</a>
        <p>Don't have user account</p>
        <a href="/signup">Signup</a>
    </body>

</html>